.footer {
  display: flex;
  flex-direction: column;
  padding-left: var(--chakra-spacing-5);
  padding-right: var(--chakra-spacing-5);
  max-width: 1480px;
  margin-left: auto;
  margin-right: auto;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.footer__col {
  width: 33%;
  padding-top: 32px;
}

.footer__col:not(:last-child) {
  border-right: 1px solid var(--chakra-colors-gray-800);
}

.footer__socialLink {
  color: var(--chakra-colors-gray-400);
  border: 1px solid var(--chakra-colors-gray-400);
  padding: 0;
}

.footer__socialLink svg {
  width: 16px;
  height: 16px;
}

.link {
  text-transform: uppercase;
  margin-bottom: 12px;
}

.footer__social {
  display: flex;
  gap: var(--chakra-spacing-3);
  margin-top: var(--chakra-spacing-3);
}

.summary {
  margin-top: 16px;
  margin-bottom: 36px;
  max-width: 66%;
  line-height: 1.5;
  color: var(--chakra-colors-gray-400);
}

.copyright {
  font-size: var(--chakra-font-sizes-sm);
  border-top: 1px solid var(--chakra-colors-gray-800);
  color: var(--chakra-colors-gray-500);
  padding-top: var(--chakra-spacing-3);
  padding-bottom: var(--chakra-spacing-3);
  margin-top: 24px;
}
